Sphinx==7.3.7
sphinx-autobuild==2024.4.16
sphinx-markdown-tables==0.0.17
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
jupyterlite-sphinx
sphinxcontrib-youtube
sphinx-favicon
sphinx-togglebutton
nbsphinx
myst_parser
jupyter_sphinx
ablog
numpydoc
pydata_sphinx_theme
sphinxext-rediraffe
sphinx_design
sphinx_copybutton
sphinx-autoapi
requests
importlib-metadata
einops
mne_features
EMD-signal
scipy
PyWavelets
pyts
antropy
pyentrp
tftb
statsmodels
scipy
emd-signal
pyentrp
nolds
pactools
EntropyHub
pykalman
mne_connectivity
spkit
fooof
nilearn