Sphinx==7.3.7
sphinx-autobuild==2024.4.16
sphinx-markdown-tables==0.0.17
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
scikit-learn==1.7.0
sphinx-autoapi==3.1.2
jupyterlite-sphinx
sphinxcontrib-youtube==1.4.1
sphinx-favicon==1.0.1
sphinx-togglebutton
nbsphinx== 0.9.4
myst_parser== 3.0.1
jupyter_sphinx==0.5.3
ablog==0.11.10
numpydoc==1.7.0
pydata_sphinx_theme==0.15.4
sphinxext-rediraffe==0.2.7
sphinx_design==0.6.0
sphinx_copybutton==0.5.2
requests
importlib-metadata
einops
mne_features
EMD-signal
scipy
PyWavelets
pyts
antropy
pyentrp
tftb
statsmodels
scipy
emd-signal
pyentrp
nolds
pactools
EntropyHub
pykalman
mne_connectivity
spkit
fooof
nilearn
pybispectra
